@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("../public/tunnel_lines_neon_875834_1366x768.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}